{% extends "nav.html" %}

{% block title %}HomePage{% endblock %}


{% block content %}
<!-- Don't put any images within the same div inside columns, they will feel very uncomfortable. -->
<div class="counter row">
    <div class="col-2 text-start mt-3 d-flex align items baseline">
        <div>
            <img class="pokeball_logo" src="https://imaraansheldon.github.io/Pokemon/Pokemon_Images/Pokeball_logo.png">
        </div>
       <p>1</p>
    </div>
    <div class="col-2 text-start mt-3">
        <img class="pokebattle_logo" src="https://imaraansheldon.github.io/Pokemon/Pokemon_Images/Pokebattle.png">
    </div>
    <div class="col-8 text-end mt-1">
        <a href="{{url_for('new')}}"><img class="back_btn" src="https://imaraansheldon.github.io/Pokemon/Pokemon_Images/back.png" alt="back"></a>
    </div>
</div>

<div class="books">
    <div class="d-flex">
        {% for x in pokemon %}
        <a href="{{url_for('home')}}" class="book-link">
            <div class="d-flex flex-column justify-content-around align-items-center book-size">
                <div class="dex-color rounded-circle justify-self-start">
                    <img class="dex" src="{{x.image}}" alt="">
                </div>
                <p class="ori">{{x.name}}</p>
                <p>{{x.entryNo}}</p>
            </div>
        </a>
                {% endfor %}
    </div>

    <div class="holder"></div>

    <div>
        <button class="position-fixed">button</button>
    </div>
</div>
{% endblock %}

