{% extends "nav.html" %}

{% block title %}HomePage{% endblock %}


{% block content %}
<!-- Don't put any images within the same div inside columns, they will feel very uncomfortable. -->
<div class="counter">
    <div class="random position-sticky start fw-bold px-5 mb-5 text-center" style="top: 10px;">
        <a href="{{ url_for('random_pokemon') }}">
            Random Pokémon
        </a>
    </div>
</div>

<div class="books">
    <div class="d-flex">
        {% for x in pokemon %}
      <a href="{{ url_for('pokemon', name=x.name) }}" class="book-link">
          <div class="d-flex flex-column justify-content-around align-items-center book-size">
              <div class="dex-color rounded-circle justify-self-start">
                  <img class="dex" src="{{x.image}}" alt="">
              </div>
              <p class="ori">{{x.name}}</p>
              <p>{{x.entryNo}}</p>
          </div>
      </a>
      {% endfor %}
    </div>
    
</div>
{% endblock %}

