{% extends "nav.html" %}

{% block content %}

<div class="statistics">
    <div class="row">
        <div class="col-6">
                <h2 class="text-center">{{ pokemon.name }}</h2>
                <img class="" src="{{ pokemon.image }}" alt="{{ pokemon.name }}" class="img-fluid" style="max-width: 200px;">
        </div>

        <div class="col-6">
            <p><strong>Entry No:</strong> {{ pokemon.entryNo }}</p>
            <p><strong>Type:</strong> {{ pokemon.type1, pokemon.type2 }}</p>
            <p><strong>Abilities:</strong> {{ pokemon.ability }}</p>
        </div>
    </div>
</div>
{% endblock %}
